parameters:
	ignoreErrors:
		-
			message: '#^Property c975L\\BookBundle\\Entity\\Book\:\:\$blocks is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Entity/Book.php

		-
			message: '#^Property c975L\\BookBundle\\Entity\\Serie\:\:\$blocks is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Entity/Serie.php

		-
			message: '#^Property c975L\\BookBundle\\Entity\\Strip\:\:\$blocks is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Entity/Strip.php

		-
			message: '#^Call to an undefined method c975L\\BookBundle\\Repository\\BookRepository\:\:findOneBySlug\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Service/BookService.php
