<twig:c975LUi:Alert:Alert type="info">
    Cette bande dessinée a pour origine un "jeu" qui sert de support pour les cours donnés par <a href="https://laurent.975l.com" target="_blank">Laurent Marquet</a> pour <a href="https://eipt.fr" target="_blank">l'École informatique pour tous (EIPT)</a>.
    <br>
    Intialement donné pour le framewok <a href="https://symfony.com/" target="_blank">Symfony</a> à <a href="https://www.lecole-cci.fr/" target="_blank">l'École by CCI74/Gobelins Annecy</a>, il est maintenant donné à <a href="https://www.univ-smb.fr/iut-annecy/" target="_blank">l'IUT d'Annecy</a>.
</twig:c975LUi:Alert:Alert>