{# <twig:c975LShop:Button:Button label="Contribuez au financement participatif du livre Les Triados - Trafic" url="{{ path('crowdfunding_display', {'slug': 'les-triados-trafic' }) }}"/> #}
<h2 class="text-center">Les Héros</h2>
<section class="cards presentations">
    <div class="img-thumbnail img-shadow">
        <twig:c975LUi:Image:Image src="medias/series/Kady.jpg.webp" class="img-thumbnail" alt="Kady" width="200"/>
        <h3 class="text-center">Kady</h3>
        <p class="text-center">Elle est brune et plutôt calme. Timide et réservée, elle est aussi très observatrice.</p>
    </div>
    <div class="img-thumbnail img-shadow">
        <twig:c975LUi:Image:Image src="medias/series/Andreas.jpg.webp" class="img-thumbnail" alt="Andreas" width="200"/>
        <h3 class="text-center">Andreas</h3>
        <p class="text-center">Un peu frimeur et sûr de lui. Il aime bien jouer des tours aux filles. Il est hyper loyal avec ses potes.</p>
    </div>
    <div class="img-thumbnail img-shadow">
        <twig:c975LUi:Image:Image src="medias/series/Valentine.jpg.webp" class="img-thumbnail" alt="Valentine" width="200"/>
        <h3 class="text-center">Valentine</h3>
        <p class="text-center">Elle est blonde, elle adore le shopping, la mode et les apparences. Elle a un caractère bien trempé !</p>
    </div>
</section>
<h2 class="text-center">Les méchants</h2>
<section class="cards presentations">
    <div class="img-thumbnail img-shadow">
        <twig:c975LUi:Image:Image src="medias/series/Manolo.jpg.webp" class="img-thumbnail" alt="Manolo" width="200"/>
        <h3 class="text-center">Manolo</h3>
        <p class="text-center">Le méchant du livre n’est pas le pire !</p>
        <h4>Livre</h4>
        <p class="text-center"><a href="{{ path('book_display', {'slug': 'les-triados-trafic'}) }}">Les Triados - Trafic</a></p>
    </div>
    <div class="img-thumbnail img-shadow">
        <twig:c975LUi:Image:Image src="medias/series/Penelope.jpg.webp" class="img-thumbnail" alt="Penelope" width="200"/>
        <h3 class="text-center">Pénélope</h3>
        <p class="text-center">La vraie méchante, c’est elle !</p>
        <h4>Livre</h4>
        <p class="text-center"><a href="{{ path('book_display', {'slug': 'les-triados-trafic'}) }}">Les Triados - Trafic</a></p>
    </div>
</section>
