<twig:c975LUi:Alert:Alert type="info">
    {% if language == "fr" %}
        Retrouvez-plus d'informations sur le site de <a href="https://papa-calin.com" target="_blank">Papa Câlin</a>
    {% elseif language == "en" %}
        Find more information on the website of <a href="https://papa-calin.com" target="_blank">Papa Câlin</a>
    {% endif %}
</twig:c975LUi:Alert:Alert>