{% set displayMore = displayMore | default(false) %}
<div class="cards">
    {% for serie in series %}
        <twig:Serie:Serie serie="{{ serie }}"/>
    {% endfor %}
    {% if displayMore == "true" %}
        <article class="text-center width-150">
            <h3 class="card-title">Découvrez toutes nos séries</h3>
            <twig:c975LUi:Button:Button label="Toutes nos séries" url="{{ path('serie_index') }}" />
        </article>
    {% endif %}
</div>