{% if marketings is not empty %}
    <twig:c975LUi:Card:Card id="marketing" title="Éléments marketing">
        <div class="cards">
            {% for marketing in marketings %}
                <twig:Book:Marketing marketing="{{ marketing }}"/>
            {% endfor %}
        </div>
    </twig:c975LUi:Card:Card>
{% endif %}