{% if (book.slug == 'papa-calin') %}
    <twig:c975LUi:Card:Card id="website" title="Site web">
        <twig:c975LUi:Image:Link src="{{ asset('images/papa-calin.webp') }}" url="https://papa-calin.com" width="300"/>
        <p class="text-center">
            <strong>
                Toutes les histoires de papa Câlin sont disponibles sur son site web : <a href="https://papa-calin.com" target="_blank">https://papa-calin.com</a> avec des vidéos, des podcasts et des livres à imprimer soi-même.
                <br>
                Depuis la publication de son livre, Papa Câlin est passé à la couleur avec plein d'illustrations.
            </strong>
        </p>
    </twig:c975LUi:Card:Card>
{% endif %}