{% if presses is not empty %}
    <twig:c975LUi:Card:Card id="presse" title="Presse">
        <div class="cards">
            {% for presse in presses %}
                <twig:c975LBook:Book:Presse presse="{{ presse }}"/>
            {% endfor %}
        </div>
    </twig:c975LUi:Card:Card>
{% endif %}