{% if null != video %}
    <twig:c975LUi:Video:Video src="{{ video.name }}" type="video/mp4" autoplay="true" muted="true" loop="true" width="320" class="img-thumbnail" width="320" height="180"/>
    <p class="text text-center text-muted">Vidéo illustrative</p>
{% endif %}